
@media only screen and (max-width: 800px){
    
    /* HEADER */
    .navbar {
        position: relative;
    }

    .navbar__shopping {
        position: absolute;
        transform: translateY(92.5vh);
        color: var(--contrast-color);
    }

    .fa-cart-shopping:hover {
        color: var(--primary-color);
    }

    .menubar {
        display: block;
        grid-column: 8 / 9;
        cursor: pointer;
        justify-self: center;
    }

    .menu {
       position: absolute;
       display: grid;
       align-items: center;
       text-align: center;
       right: 0px;
       width: 50%;
       height: 80vh;
       top: 8vh;
       transform: translateX(170%);
       transition: all 0.5s ease;
    }

    .menu__item{
        opacity: 0;       
    }

    .navbar .menu-toggle {
        transform: translateX(100%);
        background-color: var(--primary-color);
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translate(0px);
        }
    }

    .line-toggle .menubar__line--1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .line-toggle .menubar__line--2{
        opacity: 0;
    }

    .line-toggle .menubar__line--3{
        transform: rotate(45deg) translate(-5px, -6px);
    }

    /* MAIN */

    .main{
        background-image: linear-gradient(rgba(16, 16, 16, .1), rgba(16, 16, 16, 1)), url(/img/bg2.jpg);
    }
    .intro {
        grid-column: 2 / 12;
        grid-row: 7 / 10;
    }

    .intro__text--principal {
        font-size: 6rem;
    }
    .intro__text--secondary {
        font-size: 1.8rem;
    }
    .intro__text--regular {
        font-size: 1.3rem;
        margin-top: 5px;
    }

    /* FOOTER */

    .followMe {
        display: none;
    }

    .socialMedia {
        text-align: center;
    }
}