@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Roboto:wght@100;300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root{
    --primary-color: #EDCB54;
    --secondary-color: #181818;
    --contrast-color: #fff;

}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

/* HEADER */

.navbar {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    min-height: 8vh;
}

.navbar__logo {
    width: 40px;
    height: 40px;
    margin: 10px;
    grid-column: 1 / 3;
}

.menu {
    grid-column: 4 / 7;
    display: flex;
    justify-content: space-around;
}

.menu__item {
    list-style: none;
}

.menu__link {
    text-decoration: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 1.6rem;
}

.menu__link:hover {
    color: var(--contrast-color);
}

.hidden {
    display: none;
}

.navbar__shopping {
    grid-column: 8 / 9;
    font-size: 2rem;
}

/* MAIN */

.main {
    height: 82vh;
    background-image: linear-gradient(rgba(16, 16, 16, .1), rgba(16, 16, 16, .9)), url(/img/bg2.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.intro {
    grid-column: 8 / 12;
    grid-row: 4 / 11;
    color: var(--contrast-color);
}

.intro__text--secondary {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
}

.intro__text--principal {
    font-size: 6rem;
    color: var(--primary-color);
}

.intro__text--regular {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
}

.intro__btn {
    font-size: 1.6rem;
    background: none;
    color: var(--contrast-color);
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-top: 15px;
}

.intro__btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

/* FOOTER */

.footer {
    display: grid;
    height: 80px;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--contrast-color);
    grid-template-areas: 
    "listen followMe socialMedia";
}

.listen {
    grid-template-areas: listen;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 30.5px;
    color: var(--secondary-color);
    cursor: pointer;
}

.listen .fa-headphones {
    font-size: 1.5rem;
    margin-right: 10px;
}

.followMe {
    grid-template-areas: followMe;
    text-align: center;
}

.socialMedia {
    grid-template-areas: socialMedia;
    font-size: 1.5rem;
}

.socialMedia .fa-brands {
    margin-right: 15px;
}

.socialMedia .fa-brands:hover {
    color: var(--primary-color);
    cursor: pointer;
}